In [1]:
%load_ext sql

In [2]:
#https://docs.sqlalchemy.org/en/latest/core/engines.html
#SET UP LOCAL CONNECTION TO DATABASE FILE
from sqlalchemy import create_engine
engine = create_engine('sqlite:///C:\\Users\\e333775\\Documents\\BA510\\final-project-team-mike-jose-trish\\docs\\csv_data\\CoursesDB.db')
import pandas as pd

In [ ]:
#SET UP THE MEETINGS TABLE 
#pd.io.sql.execute("""DROP TABLE meetings""",engine)
pd.io.sql.execute("""CREATE TABLE IF NOT EXISTS meetings (
 term TEXT,
 crn INTEGER,
 location TEXT,
 day TEXT,
 start TEXT,
 end TEXT
)""",engine)

df = pd.read_csv('course_meetings_combined.csv').drop('Unnamed: 0',1)
df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

#INSERT FOR MEETINGS TABLE. KEEPING COMMENTED OUT BECAUSE IT TAKES SO LONG
#count = 0
#for row in df.itertuples():
#    print(count)
#    pd.io.sql.execute("""INSERT INTO meetings (term,crn,location,day,start,end) VALUES ('{}',{},'{}','{}','{}','{}')""".format(row[1],row[2],row[3],row[4],row[5],row[6]),engine)
#    count = count + 1

In [ ]:
#READ IN INSTRUCTORS AND COURSE_TITLES INFO
instructors = pd.read_excel('courses_combined.xlsx',sheetname = 'instructors')
course_titles = pd.read_excel('courses_combined.xlsx',sheetname = 'course_titles')

In [ ]:
#drop/create instructors tables
pd.io.sql.execute("""DROP TABLE INSTRUCTORS""",engine)
pd.io.sql.execute("""CREATE TABLE instructors (instructor_id INTEGER, primary_instructor varchar(20))""",engine)

#drop/create course titles tables
pd.io.sql.execute("""DROP TABLE course_titles""",engine)
pd.io.sql.execute("""CREATE TABLE course_titles (course_id INTEGER, course_title varchar(100))""",engine)


#insert instructors
for row in instructors.itertuples():
    pd.io.sql.execute("""INSERT INTO instructors (instructor_id, primary_instructor) VALUES ({},'{}')""".format(row[1],row[2]),engine)

#insert course_titles 
for row in course_titles.itertuples():
    pd.io.sql.execute("""INSERT INTO course_titles (course_id, course_title) VALUES ({},'{}')""".format(row[1],row[2]),engine)

In [ ]:
meetings = pd.read_sql('select * from meetings',engine)

In [ ]:
courses_combined = pd.read_excel('courses_combined.xlsx',sheetname='courses_combined').drop(['meetings','timecodes'],1)

pd.io.sql.execute("""DROP TABLE courses""",engine)
pd.io.sql.execute("""CREATE TABLE  courses (term TEXT, crn INTEGER, catalog_id TEXT, section TEXT, credits Integer, title_id Integer,instructor_id Integer, cap Integer, act Integer, rem Integer)""",engine)

for row in courses_combined.itertuples():
    pd.io.sql.execute("""INSERT INTO courses (term,crn,catalog_id,section,credits,title_id,instructor_id,cap,act,rem) VALUES('{}',{},'{}','{}',{},{},{},{},{},{})""".format(row[1],row[2],row[3],row[4],row[5],row[6],row[7],row[8],row[9],row[10]),engine)

In [12]:
pd.io.sql.execute("""DROP TABLE catalog""",engine)
pd.io.sql.execute("""CREATE TABLE catalog (program_code TEXT, program_name TEXT, catalog_id TEXT, course_title TEXT, credits TEXT, prereqs TEXT, coreqs TEXT, fees TEXT, attributes TEXT, description TEXT)""",engine)

In [13]:
catalog_df = pd.read_csv('catalog_files_combined.csv').drop('Unnamed: 0',1)

for row in catalog_df.itertuples():
    pd.io.sql.execute("""INSERT INTO catalog (program_code,program_name,catalog_id,course_title,credits,prereqs,coreqs,fees,attributes,description) VALUES ('{}','{}','{}','{}','{}','{}','{}','{}','{}','{}')""".format(row[1],row[2],row[3],row[4],row[5],row[6],row[7],row[8],row[9],row[10]),engine)
#catalog_df

In [ ]:
#different tables
    #meetings
    #courses
    #catalog
    #instructors
    #course_titles

pd.read_sql("""SELECT
                b.primary_instructor,
                c.course_title, 
                a.term,a.crn,
                a.catalog_id,
                a.section,
                a.credits,
                a.cap,
                a.act,
                a.rem 
                FROM courses a, instructors b, course_titles c 
                WHERE a.instructor_id = b.instructor_id 
                AND a.title_id = c.course_id""",engine)

In [4]:
locations = pd.read_excel('course_meetings_combined.xlsx',sheetname='locations_table')

C:\Users\e333775\AppData\Local\Continuum\anaconda3_n\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [8]:
pd.io.sql.execute("""CREATE TABLE IF NOT EXISTS locations (NAME TEXT, BUILDING TEXT, ROOM TEXT)""",engine)

for row in locations.itertuples():
    pd.io.sql.execute("""INSERT INTO locations (NAME,BUILDING,ROOM) VALUES ('{}','{}','{}')""".format(row[1],row[2],row[3]),engine)

In [10]:
pd.read_sql('select * from locations',engine)

            NAME BUILDING      ROOM
0        DSB 105      DSB       105
1        DSB 111      DSB       111
2       DSB 110A      DSB      110A
3        DSB 108      DSB       108
4       DSB 110B      DSB      110B
5        DSB 104      DSB       104
6        DSB 112      DSB       112
7        DSB 109      DSB       109
8        DSB 115      DSB       115
9      DSB 2109A      DSB     2109A
10         CNS 5      CNS         5
11       CNS 108      CNS       108
12       CNS 106      CNS       106
13       BNW 254      BNW       254
14       SON 124      SON       124
15       CNS 303      CNS       303
16       CNS 305      CNS       305
17       BNW 137      BNW       137
18        CNS 15      CNS        15
19       CNS 208      CNS       208
20       CNS 103      CNS       103
21     BLM LL105      BLM     LL105
22       DMH 349      DMH       349
23       DMH 350      DMH       350
24       CNS 204      CNS       204
25       CNS 207      CNS       207
26       BY ARR       nan      ARR
27         CNS 6      CNS         6
28         CNS 9      CNS         9
29         CNS 1      CNS         1
..           ...      ...       ...
177      NHS 103      NHS       103
178     NHS 405A      NHS      405A
179      NHS 104      NHS       104
180      NHS 308      NHS       308
181       WTBRY     WTBRY
182         CMC       CMC
183      NHS 208      NHS       208
184      NHS 204      NHS       204
185      NHS 407      NHS       407
186      LNG 109      LNG       109
187      DW G109       DW      G109
188      NHS 301      NHS       301
189      BNW 144      BNW       144
190     NHS 403A      NHS      403A
191         NHD       NHD
192      NHS 205      NHS       205
193        MILY      MILY
194         BPS       BPS
195      DMH 230      DMH       230
196         FPS       FPS
197          BD        BD
198        RVNA      RVNA
199         SHC       SHC
200         SON       SON
201      DSB 110      DSB       110
202       XVR TV      XVR        TV
203      BNW 143      BNW       143
204      DW G105       DW      G105
205  NHS 103/104      NHS   103/104
206     BY ARR X       BY     ARR X

[207 rows x 3 columns]